<div class="">
  <div class="row">
    <div class="col-md-6 col-12">
      <div>
        <a routerLink="/">
          <img src="../../../../assets/logo-etc/LRVFA LOGO 3.png" class="topNavLogo" alt="logo">
        </a>
      </div>
        <div>
          <p class="globalCenterCenter">Welcome back</p>
          <p class="globalCenterCenter">Welcome back! Please enter your details</p>
          <div class="globalCenterCenter">
            <button class="btn btn-outline-dark d-flex">
              <i class="bi bi-google"></i>
              <p>Log in with Google</p>
            </button>
          </div>
          <div class="separator">or</div>
          <div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Remember information
            </label>
          </div>
          <div>
            <button>Forgot password</button>
          </div>
          <div>
            <button>Login</button>
          </div>
          <div>
            <p>Don't have an account? <a>Sign up for free</a></p>
          </div>
        </div>
      </div>
    <div class="col-6 d-none d-md-block">
      <img
        src="https://images.unsplash.com/photo-1661503271250-ea3706816770?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        class="rounded mx-auto d-block img-fluid" alt="...">
    </div>
  </div>
</div>