.nav {
  // --bs-nav-link-padding-x: 1rem;
  // --bs-nav-link-padding-y: 0.5rem;
  // --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #1F272A !important;
  --bs-nav-link-hover-color: #55C352 !important;
  // --bs-nav-link-disabled-color: #6c757d;
  // display: flex;
  // flex-wrap: wrap;
  // padding-left: 0;
  // margin-bottom: 0;
  // list-style: none;
}

.nav-pills {
  // --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #FFFFFF !important;
  --bs-nav-pills-link-active-bg: #55C352 !important;
}


i {
  font-size: 20px;
}

.topNav {
  padding: 5px;
}

.topNavLogo {
  width: 78%;
  height: 100%;
}

.ocbody {
  background-color: #f8f8f8;
}

.navTree {
  background-color: transparent;
}

.treeBtn {
  border: transparent 0px;
}
