.topNav {
  padding: 5px;
}

.topNavLogo {
  width: 90%;
  height: 100%;
}

.ocbody {
  background-color: #f8f8f8;
}

.navTree {
  background-color: transparent;
}

.treeBtn {
  border: transparent 0px;
}