<div class="topNav d-md-none">
  <div class="row">
    <div class="col-7 globalCenterLeft">
      <div class="">
        <a routerLink="/">
          <img src="../../../../assets/logo-etc/LRVFA LOGO 3.png" class="topNavLogo" alt="logo">
        </a>
      </div>
    </div>
    <div class="offset-1 col-4 globalCenterRight">
      <button type="button" class="btn" data-bs-toggle="offcanvas" data-bs-target="#sideNav">
        <div class="globalCenterCenter">
          <i class="bi bi-list"></i>
        </div>
      </button>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="sideNav">
    <div class="offcanvas-header">
      <a routerLink="/">
        <img src="../../../../assets/logo-etc/LRVFA LOGO 3.png" class="topNavLogo" alt="logo">
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ocbody p-0">      
      <nav class="nav nav-pills flex-column">
        <a class="nav-link active">Home</a>
        <a class="nav-link">Services</a>
        <a class="nav-link">Market</a>
        <a class="nav-link">Blogs</a>
        <a class="nav-link">About us</a>
      </nav>
    </div>
    <div class="offcanvas-footer">
      <div class="d-flex globalCenterCenter">
        <button routerLink="/login" type="button" class="btn btn-outline-green m-2">Log in</button>
        <button routerLink="/signup" type="button" class="btn btn-green m-2">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<div class="topNav d-none d-md-block">
  <div class="row">
    <div class="col-2 globalCenterLeft">
      <div class="">
        <a routerLink="/">
          <img src="../../../../assets/logo-etc/LRVFA LOGO 3.png" class="topNavLogo" alt="logo">
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-7 globalCenterCenter ">
      <nav class="nav nav-pills">
        <a class="nav-link active">Home</a>
        <a class="nav-link">Services</a>
        <a class="nav-link">Market</a>
        <a class="nav-link">Blogs</a>
        <a class="nav-link">About us</a>
      </nav>
    </div>
    <div class="col-lg-2 col-md-3 globalCenterRight">
      <div class="d-flex">
        <button routerLink="/login" type="button" class="btn btn-outline-green m-2 btn-sm">Log in</button>
        <button routerLink="/signup" type="button" class="btn btn-green m-2 btn-sm">Sign Up</button>
      </div>
    </div>
  </div>
</div>